@use '../abstract/' as *;

$object-name: 'o-color-picker';

.#{$object-name}{
    @apply flex flex-col p-3 justify-between items-center bg-background-700 max-w-[140px] rounded-lg;

    @include breakpoint(max,md){
       @apply max-w-none;
    };

    &__title{
        @apply flex flex-col text-center text-sm font-semibold text-text-100 cursor-pointer;

        &--small{
            @apply font-medium text-[10px];
        }
    }

    &__picker{
        @apply w-[100px] rounded-lg cursor-pointer;
        transition: all 200ms;

        &:is(:hover,:focus,:focus-within){
            @apply outline outline-text-300 outline-2
        }
    }
}

input[type="color"] {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	border: none;
    border-radius: 10px;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 10px;
    padding: 0;
}
