$object-name: 'o-tag';

.#{$object-name}{
    @apply flex self-center text-[0.5rem] font-medium text-[var(--tag-color-text)] w-10 leading-normal;

    &--add{
        @apply relative whitespace-nowrap leading-[0.5rem] text-text-300 text-[0.375rem] bg-transparent w-fit;

        &:has([open]),
        .#{$object-name}__button--add:hover{
            .#{$object-name}__button--add{
                @apply ring-transparent;
                filter: brightness(1.5);
            }
        }
    }

    &--JS{
        --tag-color-text: var(--JS-color-text);
        --tag-color-background: var(--JS-color-background);
    }

    &--HTML{
        --tag-color-text: var(--HTML-color-text);
        --tag-color-background: var(--HTML-color-background);
    }

    &--CSS{
        --tag-color-text: var(--CSS-color-text);
        --tag-color-background: var(--CSS-color-background);
    }

    &__button{
        @apply flex items-center justify-center rounded-lg gap-[2px] bg-[var(--tag-color-background)] w-full;
        transition: all 200ms;

        &:hover{
            @apply ring-[1px] ring-[var(--tag-color-text)];
    
            &:has(.#{$object-name}__close){
                .#{$object-name}__name{
                    transform: translateX(0em);
                    transition: transform 300ms;
                }
            }
    
            .#{$object-name}__close{
                @apply opacity-100;
                transform: translateX(0em);
                transition: transform 400ms, opacity 700ms;
            }
        }

        &--square{
            @apply flex px-7 py-1 text-xs font-bold bg-[var(--tag-color-background)];
        }

        &--add{
            @apply border border-dashed border-text-300 text-text-300 px-[0.1563rem] bg-transparent;

            &.#{$object-name}__button--square{
                @apply bg-background-700 border-none p-[6.5px]
            }
        }

        &:has(.#{$object-name}__close){
            .#{$object-name}__name{
                transform: translateX(.4em);
                transition: transform 400ms;
            }
        }
    }

    &__name{
        @apply font-main font-medium;
    }

    &__close{
        @apply opacity-0;
        transform: translateX(-1em);
        transition: transform 500ms, opacity 200ms;
    }
}