$component-name: 'c-card';

.#{$component-name}{
    @apply bg-background-800 pb-5 rounded-xl h-fit w-full;

    &:is(:hover,:focus,:focus-within),
    &:has([open]){
        .#{$component-name}{
            &__wrapper{
                &--fade{
                    @apply opacity-100 max-h-52;
                    transition: max-height 2s 100ms, opacity 1.5s 100ms;
                }
            }
        }

        .#{$component-name}{
            &__line{
                @apply w-full;
                transition: width 500ms;
            }
        }
    }

    &__content{
        @apply relative flex flex-col gap-2 p-4 rounded-xl bg-background-700 h-fit;
        transition: all 1s;

        &--center{
            @apply items-center;
        }
    }

    &__header{
        @apply flex gap-2 text-text-100;
    }

    &__title{
        @apply font-semibold text-base;

        &--small{
            @apply text-xs;
        }
    }

    &__type{
        @apply text-xs self-center;
    }

    &__tags{
        @apply flex gap-1 w-full flex-wrap;

        &--row{
            @apply flex-nowrap;
        }
    }

    &__added{
        @apply w-full relative;
    }

    &__added-tags{
        @apply flex gap-1 p-[2px] w-full absolute left-0 overflow-x-auto;

        &::-webkit-scrollbar{
            width: 0;
        }
    }

    &__description{
        --max-line: 3;
        --line-height: 12px;
        --max-letter:108;   
        @apply text-[0.5rem] text-start leading-3 text-text-300 min-h-[calc(var(--max-line)*var(--line-height))] max-h-[calc(var(--max-line)*var(--line-height))] break-words;
    }

    &__image{
        @apply grid place-items-center rounded-xl bg-[var(--image-color)] h-20 aspect-video;
    }

    &__wrapper{
        @apply flex justify-between items-center w-full;

        &--fade{
            @apply opacity-0 max-h-0;
            transition: opacity 300ms, max-height 350ms;
        }
    }

    &__button{
        @apply bg-button-900 px-4 py-1 font-semibold text-[8px] rounded-md text-text-300;
        transition: all 200ms;
        
        &:is(:hover,:focus,:focus-within){
            filter: brightness(1.5);
        }
    }

    &__add-tag{
        @apply hidden p-4 gap-1 flex-col absolute top-[200%] -right-[50px] bg-background-800 rounded-lg w-[150px] opacity-0 origin-top;
        transform: translateY(-10%);

        &[open]{
            @apply flex has-fade-in;
        }

        &[closing]{
            @apply flex has-pop;
        }

        .o-tag{
            @apply py-1 cursor-pointer;
        }

        &--square{
            @apply bg-background-700 w-[200px] top-[110%] right-0;
        }
    }

    &__close{
        @apply text-xs cursor-pointer;
        transition: 200ms;

        &--square{
            @apply text-base;
        }

        &:is(:hover,:focus,:focus-within){
            filter: brightness(1.5)
        }
    }

    &__container{
        @apply flex flex-wrap gap-1;
    }

    &__line{
        @apply w-0;
        transition: width 1s;
    }
}