@use '../abstract/' as *;

$component-name: 'c-panel';

.#{$component-name}{
    @apply flex flex-col gap-7 items-center bg-background-800 rounded-2xl w-full max-w-[500px] p-8;

    &__wrapper{
        @apply flex flex-col gap-5 w-full;

        &--small{
            @apply max-w-[14.375rem] gap-2
        }

        &--row{
            @apply flex-row justify-center;

                @include breakpoint(max,md){
                   @apply flex-col;
            };
        }

        &--row-reverse{
            @apply flex-row-reverse gap-3 justify-center;
        }
    }

    &__header{
        @apply flex items-center gap-3 text-text-100 font-bold text-xl;
    }
    
    &__title{
        @apply text-base font-semibold self-start capitalize text-text-100;
    }

    &__save{
        @apply font-medium text-[10px] text-text-100 cursor-pointer text-center; 
    }

    &__button{
        @apply text-sm text-text-500 bg-background-700 font-semibold rounded-lg py-3 grow;
        transition: all 300ms;

        &:is(:hover,:focus,:focus-within){
            filter: brightness(1.5);
        }

        &--purple{
            @apply bg-primary-600;
            

            &:is(:hover,:focus,:focus-within){
                @apply bg-primary-100 text-text-100;
                filter: brightness(1);
            }
        }
    }
}